
.date-container {
    position: relative;
    margin-bottom: 20px;
}

.product-list {
    margin-left: 10px;
    margin-bottom: 30px;
}

.text-user {
    color: #ffffff;;
    text-decoration-color: #0a58ca;;
}

.date {
    color: #5a5d61;
}