{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Zay Shop - About Page</title>{% endblock %}
</head>
<body>
{% block content %}
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>About Us</h1>
                <p>
                    Welcome to our unique online store, where style meets convenience, and choice becomes a true
                    pleasure! Our shelves are filled with a variety of goods designed to make your life better, more
                    stylish, and more comfortable.

                    From fashionable clothing and accessories to innovative gadgets and home goods — we carefully curate
                    each product to satisfy the most refined tastes of our customers. Whether you are looking for trendy
                    additions to your wardrobe, a gift for a loved one, or smart solutions for everyday life, we have
                    everything you need.

                    Our store not only offers high-quality products but also unparalleled service. We take pride in fast
                    delivery, secure payment methods, and an individual approach to each customer. Your satisfaction is
                    our top priority.

                    Stay connected with the latest trends, find inspiration, and enjoy shopping in our online store. We
                    create a space where each purchase is a small step towards defining your unique style and enhancing
                    your everyday life. Welcome to a world of possibilities!
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/about-hero.svg' %}" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->

<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Our Services</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Delivery Services</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Shipping & Return</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Promotion</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">24 Hours Service</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>