{% load static %}
<link rel="stylesheet" href="{% static 'css/reg_user.css' %}">
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="{% url 'reg' %}" method="POST">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div class="social-container">
            </div>
            <input type="text" name="username" placeholder="username"/>
            <input type="email" name="email" placeholder="email"/>
            <input type="password" name="password1" placeholder="password"/>
            <input type="password" name="password2" placeholder="confirm password"/>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1>Sign in</h1>
            <div class="social-container">
            </div>
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

